/* Body, head */
html, body{
    height: 100%;
}
body{
    display: grid;
    margin: 0 auto;
    width: 75%;
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto 1fr 3rem;
    grid-template-areas:
        'Header'
        'Vote'
        'Results'
        'Footer';
}

/* De forskjellige indelingene av nettsiden */
header{
    text-align: center;
    background-color: #444;
    padding: 0 0.75rem;
    grid-area: Header;
    display: flex;
    align-items:center;
    justify-content:center;
}
#vote{
    grid-area: Vote;
    padding: 0.75rem;
    background-color: #333;
}
#resultater{
    grid-area: Results;
    padding: 0.75rem;
    background-color: #222;
    display: flex;
    flex-direction: column;
}
footer{
    grid-area: Footer;
    padding: 0 0.75rem;
    background-color: #111;
    display: flex;
    align-items:center;
}

/* Mindre deler, tekst og lignende */
h1, h2{margin: 0;}

footer span{
    font-size: 1.2rem;
}
.subheader{
    font-size: 0.75rem;
    font-style: italic;
}


/* Diagramm ting container elementer o.l. */
#resultCharts{
    display: flex;
    padding: 0.75rem 0 0 0;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
}
.chartDIV{
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
}

#piechart{height: 100%;}

text{fill: #FFFFFF !important;}
.google-visualization-tooltip path{fill: #222;}


/* I tilfelle portrettmodus (Telefon eller rar skjerm), skru av tomt område på sidene */
@media screen and (orientation:portrait) {
    body{width: 100%;}
}